.nav {
    position: fixed;
    bottom: 0;
    aspect-ratio: 4;
    max-height: 200px;
    left: 0;
    right: 0;
    display: flex;
    align-items: end;
    gap: 8px;
    background-color: var(--color-primary);
}

.nav button.nav-btn {
    flex: 1;
    height: 70%;
    background: white;
    color: var(--color-primary-dark);
    font-size: 24px;
    border: none;
}

.nav button.nav-btn.pitch {
    flex: none;
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1;
    position: relative;
    top: -16px;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}
