.pitch {}

.pitch-menu {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(9, 80px);
    gap: 8px;
    margin: 16px;
}
.pitch-menu.layout1 {
    grid-template-areas: "B S K" "W F Z" ". Q ." "G . E" "A I L" "Y T single" ". O double" "D . triple" "C . H";
}
.pitch-menu.layout2 {
    grid-template-areas: "B S K" "W F Z" "G Q E" "A I L" "Y T single" "D O double" "C H triple";
    grid-template-rows: repeat(7, 80px);
}

.pitch-menu button.pitch-btn {
    border-radius: 50%;
    border: none;
    color: var(--color-text);
    font-weight: 600;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
}

.pitch-menu button.pitch-btn div {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-text-subtle);
}

.pitch-menu button.pitch-btn:disabled,
.pitch-menu button.pitch-btn.justpitch:disabled,
.pitch-menu button.pitch-btn.inplayout:disabled,
.pitch-menu button.pitch-btn.inplay:disabled,
.pitch-menu button.pitch-btn.inplayboth:disabled {
    background: var(--color-disabled);
    color: var(--color-text-disabled);
    box-shadow: none;
    font-weight: initial;
}

.pitch-menu button.pitch-btn.justpitch {
    background: var(--color-primary);
}
.pitch-menu button.pitch-btn.justpitch:active {
    background: var(--color-primary-dark);
}

.pitch-menu button.pitch-btn.inplayout {
    background: var(--color-tertiary);
}
.pitch-menu button.pitch-btn.inplayout:active {
    background: var(--color-tertiary-dark);
}

.pitch-menu button.pitch-btn.inplay {
    background: var(--color-secondary);
}
.pitch-menu button.pitch-btn.inplay:active {
    background: var(--color-secondary-dark);
}

.pitch-menu button.pitch-btn.inplayboth {
    background: var(--color-quadinary);
    color: var(--color-text-dark);
}
.pitch-menu button.pitch-btn.inplayboth:active {
    background: var(--color-quadinary-dark);
}
.pitch-menu button.pitch-btn.inplayboth div {
    color: var(--color-text-subtle-dark);
}
