.scoreboard {
    max-width: 425px;
    margin: 0 auto;
}

/* boxscore */
.scoreboard .boxScore {
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    padding-top: 32px;
}

.scoreboard .boxScore table {
    border: 1px solid black;
    border-collapse: collapse;
}

.scoreboard .boxScore table thead tr td {
    background: var(--color-disabled);
    color: var(--color-text-dark);
    font-weight: 700;
}

.scoreboard .boxScore table td,
.scoreboard .boxScore table th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.scoreboard .boxScore table tr.awayScore td.active,
.scoreboard .boxScore table tr.homeScore td.active {
    background: var(--color-quadinary);
    color: var(--color-text-dark);
}

.scoreboard .boxScore table tr.awayScore {
    background: var(--color-secondary);
}

.scoreboard .boxScore table tr.homeScore {
    background: var(--color-primary);
}

.scoreboard .boxScore table tr.awayScore th,
.scoreboard .boxScore table tr.awayScore td {
    background: var(--color-secondary-dark);
    color: var(--color-text);
}

.scoreboard .boxScore table tr.homeScore th,
.scoreboard .boxScore table tr.homeScore td {
    background: var(--color-primary-dark);
    color: var(--color-text);
}

.scoreboard .boxScore table tr th.runs,
.scoreboard .boxScore table thead tr td.runs {
    background: var(--color-tertiary);
    color: var(--color-text);
}



/* bases */

.scoreboard .bases {
    position: relative;
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    --base-size: calc(100% * .28);
    background: var(--color-primary);
}

.crosshair {
    position: absolute;
    height: 100%;
    width: 100%
    /* box-sizing: border-box; */
}

.crosshair.vertical {
    width: 50%;
    border-right: 1px solid black;
}

.crosshair.horizontal {
    height: 50%;
    border-bottom: 1px solid black;
}

.scoreboard .bases .base > div {
    height: var(--base-size);
    width: var(--base-size);
    background: var(--color-disabled);
    transform: translate(-50%, -50%) rotate(45deg);
}

.scoreboard .bases .base > div.occupied {
    background: var(--color-quadinary);
}

.scoreboard .bases .base,
.scoreboard .bases .homeplate {
    position: absolute;
    height: 100%;
    width: 100%;
}

.scoreboard .bases .base.firstbase {
    transform: translate(calc(100% - var(--base-size)), 50%);
}

.scoreboard .bases .base.secondbase {
    transform: translate(50%, var(--base-size));
}

.scoreboard .bases .base.thirdbase {
    transform: translate(var(--base-size), 50%);
}

.scoreboard .bases .homeplate {
    transform: translate(50%, calc(100% - var(--base-size)));
}

.scoreboard .bases .homeplate > div {
    height: calc(var(--base-size) * .70);
    width: calc(var(--base-size) * .70);
    background: var(--color-disabled);
    transform: translate(-50%, -50%);
    clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
}

/* count */
.scoreboard .count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    font-size: 24px;
    background: var(--color-primary);
    color: var(--color-text);
}

.scoreboard .count div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.scoreboard .count div > span {
    font-size: 12px;
    line-height: 24px;
}

.scoreboard .players {
    background: var(--color-primary);
    color: var(--color-text);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 4px;
}

.scoreboard .players > div {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.scoreboard .players span {
    font-size: 12px;
    color: var(--color-disabled)
}