.pitch-menu {
    display: grid;
    gap: 8px;
    margin: 0 auto;
    height: calc(100vh - 128px);
}

.pitch-menu.layout {
    grid-template-areas: ". . . ." "B S F K" "W G Z Q " "A I E L" "Y T O single" "D C . double" ". . H triple";
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

/* @media only screen and (max-width: 400px) {
    .pitch-menu {
        gap: 0;
        column-gap: 16px;
        row-gap: 4px;
    }

    .pitch-menu.layout {
        grid-template-areas: ". . ." "B S K" "W F Z" "G Q E" "A I L" "Y T single" "D O double" "C H triple";
        grid-template-rows: repeat(8, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
} */

.pitch-menu div {
    display: grid;
    align-items: center;
    justify-content: center;
}

.pitch-menu button.pitch-btn {
    border-radius: 50%;
    border: none;
    color: var(--color-text);
    font-weight: 600;
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);
    font-size: 1em;
    width: 10vh;
    height: 10vh;
    cursor: pointer;
    overflow: hidden;
}

.pitch-menu button.pitch-btn:hover:not(:disabled),
.pitch-menu button.pitch-btn:focus:not(:disabled) {
    outline: 2px solid var(--color-quadinary);
}

.pitch-menu button.pitch-btn div {
    font-size: .9em;
    font-weight: 400;
    color: var(--color-text-subtle);
}

.pitch-menu button.pitch-btn:disabled,
.pitch-menu button.pitch-btn.justpitch:disabled,
.pitch-menu button.pitch-btn.inplayout:disabled,
.pitch-menu button.pitch-btn.inplay:disabled,
.pitch-menu button.pitch-btn.inplayboth:disabled {
    background: var(--color-disabled);
    color: var(--color-text-disabled);
    box-shadow: none;
    font-weight: initial;
    cursor: not-allowed;
}

.pitch-menu button.pitch-btn.justpitch {
    background: var(--color-primary);
}
.pitch-menu button.pitch-btn.justpitch:active:not(:disabled) {
    background: var(--color-primary-dark);
}

.pitch-menu button.pitch-btn.inplayout {
    background: var(--color-tertiary);
}
.pitch-menu button.pitch-btn.inplayout:active:not(:disabled) {
    background: var(--color-tertiary-dark);
}

.pitch-menu button.pitch-btn.inplay {
    background: var(--color-secondary);
}
.pitch-menu button.pitch-btn.inplay:active:not(:disabled) {
    background: var(--color-secondary-dark);
}

.pitch-menu button.pitch-btn.inplayboth {
    background: var(--color-quadinary);
    color: var(--color-text-dark);
}
.pitch-menu button.pitch-btn.inplayboth:active:not(:disabled) {
    background: var(--color-quadinary-dark);
}
.pitch-menu button.pitch-btn.inplayboth:not(:disabled) div {
    color: var(--color-text-subtle-dark);
}
.pitch-menu button.pitch-btn.inplayboth:hover:not(:disabled),
.pitch-menu button.pitch-btn.inplayboth:focus:not(:disabled) {
    outline-color: var(--color-secondary);
}
