.nav {
    position: fixed;
    bottom: 0;
    aspect-ratio: 4;
    max-height: 100px;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    background-color: var(--color-primary);
    width: 100%;
    max-width: 425px;
}

.nav button.nav-btn,
.nav a.nav-btn {
    flex: 1;
    height: 70%;
    background: var(--color-primary-light);
    color: var(--color-text);
    font-size: 24px;
    border: none;
    
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.nav a.nav-btn:first-child {
    border-radius: 0 8px 0 0;
}

.nav a.nav-btn:last-child {
    border-radius: 8px 0 0 0;
}

.nav a.nav-btn:active {
    background: var(--color-primary-dark);
}

.nav a.nav-btn.disabled {
    pointer-events: none;
    touch-action: none;
    background: var(--color-primary);
    color: var(--color-text-subtle);
    border: 1px solid var(--color-text-subtle);
}
.nav a.nav-btn.disabled:hover,
.nav a.nav-btn.disabled:focus {
    cursor: not-allowed;
}

.nav button.nav-btn.pitch {
    flex: none;
    height: 100%;
    max-width: 100px;
    border-radius: 50%;
    background: var(--color-secondary);
    aspect-ratio: 1;
    position: relative;
    top: -16px;
    box-shadow: var(--elevation-2);
    cursor: pointer;
    padding: 4px;
}

.nav button.nav-btn.pitch:active:not(:disabled) {
    background: var(--color-secondary-dark);
}

.nav a.nav-btn:hover,
.nav a.nav-btn:focus,
.nav button.nav-btn:hover:not(:disabled),
.nav button.nav-btn:focus:not(:disabled) {
    outline: 2px solid var(--color-quadinary);
}


.nav button.nav-btn:disabled {
    background: var(--color-primary);
    box-shadow: none;
    color: var(--color-text-subtle);
    border: 1px solid var(--color-text-subtle);
    cursor: not-allowed;
}
