.newgame {
    color: var(--color-text);
    padding: 16px;
    height: 85vh;
    overflow: auto;
}

.newgame h1 {
    text-align: center;
    font-weight: 400;
}

.newgame .rules,
.newgame .config {
    margin-bottom: 8px;
}

.newgame .teambuilder h2 {
    margin-bottom: 4px;
}

.newgame .teambuilder .player {
    display: flex;
    align-items: center;
    border-radius: 19px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    gap: 12px;
    width: fit-content;
    margin-bottom: 4px;
}

.newgame .teambuilder .player.home {
    background: var(--color-primary-dark);
    color: var(--color-text);
}
.newgame .teambuilder .player.away {
    background: var(--color-secondary);
    color: var(--color-text);
}

.newgame .teambuilder .player .name {
    padding: 4px 8px;
}

.newgame .teambuilder .player .position {
    padding: 4px 8px;
    background: var(--color-quadinary);
    color: var(--color-text-dark);
    border-radius: 19px;
}
