.manage h1 {
    color: var(--color-text);
    text-align: center;
    font-weight: 400;
}

.manage ul {
    list-style: none;
    padding: 16px;
    margin: 0;
    margin-bottom: 64px;
}

.manage ul li.menuitem {
    padding: 24px 16px;
    margin-bottom: 8px;
    box-shadow: var(--elevation-2);
    font-size: 24px;
    background-color: var(--color-primary-light);
    color: var(--color-text);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.manage ul li.menuitem div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.manage ul li.menuitem svg {
    transform: rotate(.75turn);
    fill: var(--color-text);
    height: 32px;
}

.manage ul li.menuitem span {
    font-size: .6em;
}
