.manage h1 {
    color: var(--color-text);
    text-align: center;
    font-weight: 400;
}

.manage ul {
    list-style: none;
    padding: 16px;
    margin: 0;
}

.manage ul li {
    padding: 32px 16px;
    margin-bottom: 8px;
    box-shadow: var(--elevation-2);
    font-size: 24px;
    background-color: var(--color-primary-light);
    color: var(--color-text);
    border-radius: 4px;
}

.manage ul li[role="button"] {
    cursor: pointer;
}

.manage ul li div {
    color: var(--color-text-subtle);
    font-size: .8em;
}
