.manage-stash {
    padding: 16px;
    color: var(--color-text);
}

.manage-stash h1 {
    margin-bottom: 16px;
    font-weight: 400;
    text-align: center;
}

.manage-stash .summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manage-stash .form {
    text-align: center;
}
