.teambuilder .player {
    display: flex;
    align-items: center;
    border-radius: 19px;
    box-shadow: var(--elevation-1);
    gap: 4px;
    width: fit-content;
    margin-bottom: 4px;
}

.teambuilder .player.home {
    background: var(--color-primary-dark);
    color: var(--color-text);
}
.teambuilder .player.away {
    background: var(--color-secondary);
    color: var(--color-text);
}

.teambuilder .player button {
    border-radius: 50%;
    aspect-ratio: 1;
    border: none;
    margin: 4px;
    display: flex;
    place-items: center;
}

.teambuilder .player .name {
    padding: 4px 8px;
}

.teambuilder .player .position {
    padding: 4px 8px;
    background: var(--color-quadinary);
    color: var(--color-text-dark);
    border-radius: 19px;
}
